.CommentLinkButton {
  background: #f0f0f0;
  border-radius: 14px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  padding: 4px 12px 4px 4px;
  margin-top: 4px;
}
html[data-dark='true'] .CommentLinkButton {
  background: #fff2;
}
.CommentLinkButton .linkIcon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}