.sub_tit_profile .nick_area span.memberMemo {
  background-color: #f5f5f5;
  color: var(--skinTextColor);
  border-radius: 4px;
  padding: 3px 4px 3px 8px;
  margin: 0 4px;
  bottom: 100%;
  display: flex;
  align-items: center;
  gap: 4px;
}
.sub_tit_profile .nick_area span.memberMemo .content {
  line-height: 1em;
  font-size: 14px;
  font-weight: 500;
}
.sub_tit_profile .nick_area span.memberMemo .btnEditMemo {
  background-color: transparent;
  border-radius: 2px;
  display: flex;
  padding: 2px;
}
.sub_tit_profile .nick_area span.memberMemo .btnEditMemo:hover {
  background-color: #0001;
}
.sub_tit_profile .nick_area span.memberMemo .btnEditMemo svg {
  color: var(--skinTextColor);
  width: 16px;
  height: 16px;
}

html[data-dark='true'] .sub_tit_profile .nick_area span.memberMemo {
  background: #333;
}
html[data-dark='true'] .sub_tit_profile .nick_area span.memberMemo .btnEditMemo:hover {
  background-color: #fff1;
}